.wrapper {
  width: 100%;
}

.cardsBlock {
  margin-top: 0;
}

.cardsBlockWithFilters {
  margin-top: 2.5vw;
}

.empty {
  text-align: center;
  padding: 3rem 0;
  color: var(--text-secondary);
  font-size: 0.9rem;
}
