.page {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  padding: 4rem 1.5rem;
}

.title {
  margin: 0;
}

.subtitle {
  margin-top: 1rem;
  color: var(--color-text-secondary);
}

.links {
  margin-top: 1rem;
  display: grid;
  gap: 0.5rem;
  color: var(--color-text-primary);
}

.link {
  display: block;
  text-decoration: underline;
}
