.root {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.titleRow {
  min-width: 0;
}

.between {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.description {
  margin: 0;
}

